body{
    font-family: "Montserrat";
}
#title{
    background-color:#ff4c68;
    color: #fff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h2{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}
/* Navigation bar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}
/* Download bottom */
.Download-botton{
    margin: 5% 3% 5% 0;
}
/* Title image */
.iphone-image{
    width: 60%;
    transform: rotate(25deg);
    margin: 0 25%;
}
/* Feature section */
#features{
    margin: 100px;
}
.feature-item{
    text-align: center;
    
}
.feature-icon{
    font-size: 60px;
    margin: 10px;
    color: #ef8172;
}
.feature-icon:hover{
    color:#ff4c68
}
.feature-h3{
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 700;
}
.feature-p{
    font-size: medium;
    color: #8f8f8f;  
    font-family: "Montserrat";  
    padding: 0 70px;
}
/* testimonial */
#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
/* press */
#press{
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}